body {
    background-color: lightgrey;
    position: relative;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: Caladea;
}

nav {
    background-color: dodgerblue;
    text-align: center;
}

main {
    float: left;
    padding: 20px;
}

p {
    text-indent: 20px;
}

p::first-letter {
    color: dodgerblue;
    font-size: xx-large;
}

ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: dodgerblue;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

ol a {
    display: block;
    text-decoration: none;
    color: black;
}

ol>li {
    float: left;
    width: 248px;
    background-color: dodgerblue;
    height: 4em;
    line-height: 4em;
    border: 1px solid black;
}

ol>li:hover {
    background-color: lightskyblue;
}

ol>li:hover>ul {
    display: block;
}

ol>li>ul {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 2em;
    line-height: 2em;
}

ol>li>ul>li {
    position: relative;
    background-color: white;
    border: 1px solid black;
}

ol>li>ul>li:hover {
    background-color: lightskyblue;
}

ol>li>ul>li:hover>a {
    color: black;
}

.zrzut {
    float: left;
    width: 200px;
    height: 200px;
    border: solid;
    border-width: 1px;
}

.puzzel {
    float: left;
    width: 150px;
    height: 150px;
    border: solid;
    border-width: 1px;
}


#gra {
    margin: auto;
    border: solid;
    border-width: 1px;
    width: 606px;
    height: 606px;

}

#pojemnik {
    padding-left: 20px;
}

#pojemnik>.puzzel>img {
    width: 150px;
    height: 150px;
}

#reset {
    float: left;
    margin: 20px;
    width: 70px;
    height: 50px;
}
