body {
    background-color: lightgrey;
    position: relative;
    font-family: Caladea;
}

#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

header {
    padding: 15px;
}

nav {
    clear: both;
    background-color: dodgerblue;
    text-align: center;
}

main {
    float: left;
    padding: 20px;
}

footer {
    clear: both;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
}

p::first-letter {
    color: dodgerblue;
    font-size: xx-large;
}

img {
    padding-left: 10%;
}

ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: dodgerblue;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

ol a {
    display: block;
    text-decoration: none;
    color: black;
}

ol>li {
    float: left;
    width: 248px;
    background-color: dodgerblue;
    height: 4em;
    line-height: 4em;
    border: 1px solid black;
}

ol>li:hover {
    background-color: lightskyblue;
}

ol>li:hover>ul {
    display: block;
}

ol>li>ul {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 2em;
    line-height: 2em;
}

ol>li>ul>li {
    position: relative;
    background-color: white;
    border: 1px solid black;
}

ol>li>ul>li:hover {
    background-color: lightskyblue;
}

ol>li>ul>li:hover>a {
    color: black;
}

#menu2 {
    display: none;
}

.nav1 {
    float: none;
    cursor: pointer;
    width: auto;
    padding: 30px;
    color: black;
    border: 1px solid black;
}

@media (max-width: 1000px) {

    div#container,
    header,
    main,
    nav,
    footer {
        width: auto;
        margin: 0px;

    }

    #menu1 {
        display: none
    }

    #menu2 {
        display: block;
        font-size: 20px;
    }

    img {
        width: 520px;
        height: 350px;
    }

}

@media (max-width: 640px) {

    img {
        width: 300px;
        height: 200px;
    }

}
